<div>
  {{#if titulo}}
    <h1>{{titulo}}</h1>
  {{else}}
    <h1>Unknown TITLE</h1>
  {{/if}}
  {{#each productos}}
    <p>{{this.name}}</p>
    <p>{{this.id}}</p>
    <p>${{this.precio}}</p>
    <hr />
  {{/each}}
</div>